.categories-container {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
}

.category-column {
  width: 48% !important;
  margin-bottom: 20px !important;
}

.category-list {
  margin-top: 10px !important;
  padding-left: 20px !important;
}

.category-list li {
  list-style: none !important;
}