#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: var(--light_bg_color)
}

#aside-content .card-widget {
    background: var(--light_bg_color)
}

#footer {
    background: rgba(255,255,255,.15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}

/* 分类样式 */  
.category-all-page .category-list-item {  
    margin: 15px 10px 10px 10px;  
    list-style: none;  
    font-size: 20px;  
}  
.category-all-page .category-list-child {  
    list-style: none;  
}  