@font-face {
    font-family: "iconfont"; /* Project id 4632721 */
    src: url('//at.alicdn.com/t/c/font_4632721_n38glxfc46g.woff2?t=1721885985893') format('woff2'),
         url('//at.alicdn.com/t/c/font_4632721_n38glxfc46g.woff?t=1721885985893') format('woff'),
         url('//at.alicdn.com/t/c/font_4632721_n38glxfc46g.ttf?t=1721885985893') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 19px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-zhihu:before {
    content: "\ea8b";
  }